#this is a comment
# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 
# *.[oa] means *.o and *.a 
# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes
.DS_Store
 
# Exclude Text Files
*.txt
# Except read me signified by !
!README.txt

# Exclude log files
*.log

# Exclude Fonts
_fonts/
 
